#footer-bg {
  overflow: hidden;
}
#footer-title {
  font-size: 23px;
  color: white;
}

#social-media {
  color: white;
}

#footer-bg {
  color: white;
  background-color: rgb(15, 15, 15);
  position: relative;
  top: 5vw;
}

#cr-link:hover {
  cursor: pointer;
}

#to-right {
  margin-left: -15px;
}

@media only screen and (max-width: 700px) {
  #footer-bg {
    position: relative;
    top: 40vw;
  }

  #footer-title {
    font-size: 30px;
    color: white;
  }
}
