#sidebar-div {
  height: 700px;
  min-height: 300px;
  max-height: 1200px;
  font-family: "Roboto", sans-serif;
  width: 270px;
  margin: 2px;
  margin-top: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgb(69, 54, 155);
  border-radius: 0 0 30px 0;
  box-shadow: inset 30px -50px 80px 1px rgba(0, 0, 0, 0.5);
  
  position: fixed;
  
  transition: 500ms ease-out;
}
 #main {
   display: flex;
   
   
 }
#lectie {
  
  background-color: white;
  height: 20vw;
  width: 20vw;
  margin-top: 65px;
}
